body{
    background-color:rgb(53, 53, 53);
}

h1{
    font-family: 'Roboto', sans-serif ;
    color: rgb(110, 110, 110);
   box-sizing: content-box;
   width: 200px;
   height: 75px;
   padding: 20px;
   border: 40px black;
    
}

strong{
    font-family: 'Roboto',sans-serif;
    color:white;
    margin: 0 auto;
    width: 200px;
    background-color: rgb(53, 53, 53);
    font-size: 20px;
}

p{
    font-family: 'Roboto',sans-serif;
    color: rgb(110, 110, 110);
}

