.block
{
    display: inline-block;
    background-color: pink;
    size: 4vw;
    border:1vw solid black;
    width: 20vw;
    padding: 7vw;
   
}
.text
{
    font-size: 5vw;
    display: inline-block;
    color:red;
    font-family: sans-serif;
    
}
.block2
{
    background-color: rosybrown;
    display: inline-block;
    border: 1vw solid black;
    width:30vw;
    padding: 9vw;
       
}
.block3
{
    background-color: skyblue;
    display: inline-block;
    border: 1vw solid black;
    width: 5vw;
    padding:3vw;
    
}
.MainBlocks
{
    background-color: white;
    display: inline-block;
    border: black 7vw;
    width:40vw;
    padding:8vw;
    
}
