#options
{
    display: flex;
    margin: 0 auto;
    height: max-content;
    width: 70vw;
    align-items:space-between;
    justify-content:space-between;
    flex-direction: row;
}
.box{
    width: 8vw;
    height: 4vw;
    display: flex;
    margin: 5px;
    color: black;
    justify-content:center;
    align-Items: center;
    font-size: 2vw;
    }
    .red
    {
        background-color: red;
    }
    a{
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
    }